<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
</head>
<body>
<h1>Add New User</h1>
<form th:action="@{/addUser}" th:object="${userInput}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required /><br><br>

    <label>Surname:</label>
    <input type="text" th:field="*{surname}" required /><br><br>

    <label>Email:</label>
    <input type="email" th:field="*{email}" required /><br><br>

    <label>User Type:</label>
    <select th:field="*{userType}">
        <option value="Admin">Admin</option>
        <option value="Customer">Customer</option>
    </select><br><br>

    <button type="submit">Add User</button>
</form>

<div th:if="${successUser}" class="alert alert-success" th:text="${successUser}"
     style="color: green; font-weight: bold;">
</div>

<a th:href="@{/adminMenu}"><button>Back to Admin Menu</button></a>
</body>
</html>