<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Bookings</title>
</head>
<body>
<h1>All Bookings</h1>
<table>
    <thead>
    <tr>
        <th>Booking ID</th>
        <th>Space ID</th>
        <th>User ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${bookings}">
        <td th:text="${booking.bookingId}"></td>
        <td th:text="${booking.getCoworkingSpace().spaceId}"></td>
        <td th:text="${booking.getCustomer().id}"></td>
        <td th:text="${booking.date}"></td>
        <td th:text="${booking.time}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/adminMenu}"><button>Back</button></a>
</body>
</html>