<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>All Spaces</title>
</head>
<body>
<h1>All Spaces</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Price</th>
        <th>Availability</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="space : ${spaces}">
        <td th:text="${space.spaceId}"></td>
        <td th:text="${space.type}"></td>
        <td th:text="${space.price}"></td>
        <td th:text="${space.isAvailable ? 'Available' : 'Not Available'}"></td>
        <td>
            <a th:href="@{/removeSpace/{spaceId}(spaceId=${space.spaceId})}">
                <button>Remove</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${successSpace}" style="color: green; font-weight: bold;" th:text="${successSpace}"></div>
<div th:if="${errorSpace}" style="color: red; font-weight: bold;" th:text="${errorSpace}"></div>


<a th:href="@{/adminMenu}">Back</a>
</body>
</html>
