<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Select User and View Bookings</title>
</head>
<body>
<h1>Select a User</h1>

<div th:if="${errorUser}" style="color: red; font-weight: bold;" th:text="${errorUser}"></div>

<form th:action="@{/selectUser}" method="post">
  <label for="userId">User Id:</label>
  <input type="number" id="userId" name="userId" required th:value="${userId}" />
  <button type="submit">My bookings</button>
</form>

<h2>Bookings for User</h2>
<div th:if="${infoMessage}" style="color: gray;" th:text="${infoMessage}"></div>

<table th:if="${bookings}">
  <thead>
  <tr>
    <th>User ID</th>
    <th>Booking ID</th>
    <th>Space ID</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="booking : ${bookings}">
    <td th:text="${booking.customer.id}"></td>
    <td th:text="${booking.bookingId}"></td>
    <td th:text="${booking.coworkingSpace.spaceId}"></td>
    <td th:text="${booking.date}"></td>
    <td th:text="${booking.time}"></td>
    <td>
      <a th:href="@{/cancelBooking/{bookingId}(bookingId=${booking.bookingId})}">
        <button>Cancel</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<div th:if="${successBooking}" class="alert alert-success" th:text="${successBooking}" style="color: green; font-weight: bold;"></div>
<div th:if="${errorBooking}" class="alert alert-error" th:text="${errorBooking}" style="color: red; font-weight: bold;"></div>

<a th:href="@{/userMenu}"><button>Back</button></a>
</body>
</html>